# Store PagerDuty integration keys outside Lambda code
# Rename this file to env.yml before deploying

# JSON structure
# For each Glasnostic Environment define the Glasnostic View ID and the PagerDuty integration key
# can store multiple environments and multiple integrations for different views
glasnostic-webhook-config: '{ "<glasnostic environment id>": { "<view id>": "<PagerDuty Integration Key>" }}'